.gradle

bin

Reports

Libs

output

!output/.gitkeep
build

.classpath

.project
/.vs/Katalon Testing Personal/FileContentIndex/30abe5cd-4d60-435a-870b-c511e46d372d.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/1e00beef-c044-4b13-ba13-fec46bd11828.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/02e4d423-a511-4b01-89a6-181b22aa205b.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/ac5995af-5e43-47d7-856e-518d43e8f8ca.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/e3bf7fcc-f308-485b-acc2-a3f52b8c749c.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/a82144b9-1710-42ee-b342-aab63fbd0b04.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/7b083ebb-c4de-464d-b378-82afdefa57ab.vsidx
/.vs/Katalon Testing Personal/FileContentIndex/f2eb02c1-4944-4da9-a8ac-54ca846b1851.vsidx
/.vs/Katalon Testing Personal/FileContentIndex
